<mat-toolbar class="dashboardToolBar">
  <div class="iconAndTitle">
    
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <img class="fundooIcon" >

    <div class="dashboardTitle">Keep</div>

  </div>

  <div class="searchToolBar">

    <button mat-icon-button>
      <mat-icon class="mat-18">search</mat-icon>
    </button>
    <input class="searchInputBar" type="text" placeholder="search">

  </div>

  <div class="endToolBar">

      <button mat-icon-button>
          <mat-icon class="view_list">view_list</mat-icon>
          <!-- <mat-icon class="settings">settings</mat-icon> -->
        </button>
    <button mat-icon-button>
      <mat-icon class="mat-18">dashboard</mat-icon>
      <!-- <mat-icon class="settings">settings</mat-icon> -->
    </button>
    <button mat-icon-button>
        <!-- <mat-icon class="mat-18">dashboard</mat-icon> -->
        <mat-icon class="settings">settings</mat-icon>
      </button>
      <button mat-icon-button class="accountButton" [matMenuTriggerFor]="accountMenu">
          <!-- <mat-icon class="mat-18">dashboard</mat-icon> -->
          <mat-icon class="account_circle">account_circle</mat-icon>
        </button>
  </div>

  
  <!-- <button class="accountButton" [matMenuTriggerFor]="accountMenu">R</button> -->

</mat-toolbar>

 <mat-menu #settingsForHeader="matMenu">
             
    <button mat-menu-item (click)="settings()">Settings</button>
    <button mat-menu-item (click)="sendFeedback()">Send FeedBack</button>
    <button mat-menu-item (click)="help()">Help</button>
    <button mat-menu-item (click)="appDownload()">App Download</button>
    <button mat-menu-item (click)="keyboardShortcuts()">Keyboard Shortcut</button> -->
 </mat-menu>

<mat-menu #accountMenu="matMenu">
  <span>Aman</span>
  <button mat-menu-item (click)="logout()">
    <mat-icon class="mat-18">power_settings_new</mat-icon> Logout
  </button>
</mat-menu>

      <mat-drawer-container class="example-container">
          <mat-drawer #sidenav mode="side" opened="true">
      <div>
        <button mat-button  (click)="addNote()" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
          <mat-icon>lightbulb_outline</mat-icon> Notes
            <button mat-button (click)="remainder()" ></button>
    </button>
      </div>  
      <div>
        <button mat-button  (click)="remainder()" [ngClass]="{'sideNavListItems': headerName!='Remainders', 'sideNavlistItemsColored': headerName=='Remainders'}">
          <mat-icon>notifications_none</mat-icon> Reminders
        </button>
      </div>
      <div>
        <button class="sideNavListItems" mat-button>
          <mat-icon>edit</mat-icon> Edit Labels
        </button>
      </div>
      <div>
        <button mat-button  (click)="archive()" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
          <mat-icon>archive</mat-icon> Archive
        </button>
      </div>
      <div>
        <button mat-button  (click)="trash()" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
          <mat-icon>delete</mat-icon> Trash
        </button>
      </div>
    </mat-drawer>

        <!-- <mat-card class="noteInputBar">
          class="noteInputBar">Take a Note 
             <mat-card-header> -->
                <!-- <button mat-button >
                <mat-card-title (click)="click">Take a Note
                    
                        <mat-card-subtitle>This is Sub Title</mat-card-subtitle>
                      
                </mat-card-title>
              </button>
               </mat-card-header> -->
      
        <!-- </mat-card>
    </mat-drawer-container> --> 
    <mat-accordion >
        <mat-expansion-panel  class="noteInputBar" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <textarea class="addNoteInput" placeholder="{{panelOpenState ? 'Title' : 'Take a note....'}}"></textarea>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <textarea class="addNoteInput" placeholder="Take a Note...."></textarea>
        
        <mat-action-row>
            <div style="width:85cm">
            <button mat-icon-button >
                <!-- <mat-icon class="mat-18">dashboard</mat-icon> -->
                <mat-icon class="add_alert" >add_alert</mat-icon>
              </button>
              <button mat-icon-button>
                  <!-- <mat-icon class="mat-18">dashboard</mat-icon> -->
                  <mat-icon class="person_add">person_add</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="colorPalatte">
                    <!-- <mat-icon class="mat-18">dashboard</mat-icon> -->
                    <mat-icon class="palette">palette</mat-icon>
                  </button>
                  <button mat-icon-button>
                      <!-- <mat-icon class="mat-18">dashboard</mat-icon> -->
                      <mat-icon class="image">image</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <!-- <mat-icon class="mat-18">dashboard</mat-icon> -->
                      <mat-icon class="archive">archive</mat-icon>
                    </button>
                    <button mat-icon-button  [matMenuTriggerFor]="moreMenu">
                      <!-- <mat-icon class="mat-18">dashboard</mat-icon> -->
                      <mat-icon class="more_vert">more_vert</mat-icon>
                    </button>
                  </div>
                  <mat-accordion>
                      
                      <button mat-button (click)="close()">Close
                    
                      <!-- <mat-icon class="mat-18">power_settings_new</mat-icon> Logout -->
                    </button>
                  </mat-accordion>

                  <!-- <button mat-button >Close</button> -->
        </mat-action-row>
          <!-- <hideToggle></hideToggle> -->
      </mat-expansion-panel>
    </mat-accordion>                    
                  </mat-drawer-container>
                         <mat-menu #moreMenu="matMenu">
                      
                      <button mat-menu-item (click)="addLable()">Add Lable</button>
                      <button mat-menu-item disabled="true" (click)="addDraw()">Add Drawing</button>

                      <button mat-menu-item (click)="showCheckbox()">Show checkboxes</button>
                    </mat-menu>
                    <mat-menu #colorPalatte="matMenu">
                        <!-- <canvas id="colorCanvas" class="color-canvas" width="250" height="250"></canvas> -->
                        <datalist id="greyscale">
                            <option value="#000000">
                            <option value="#333333">
                            <option value="#666666">
                            <option value="#999999">
                            <option value="#cccccc">
                        </datalist>
                        <fieldset class="col">
                            <legend>Color element 2</legend>
                            <label for="excolor2">Color: </label>
                            <input type="color" id="excolor2" name="excolor2" list="greyscale">
                        </fieldset>
                      
                       
                      </mat-menu>
   