.dashboardToolBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .iconAndTitle {
    display: flex;
    padding-right: 115px;
  
  }
  
  .dashboardTitle {
    vertical-align: middle;
    line-height: 49px;
    padding-left: 15px;
  }
  
  .searchToolBar {
  
    display: flex;
    //margin: auto;
    width: 100%;
  }
  
  .searchInputBar {
    width: 70%;
    border: none;
    outline: none;
  }
  
  .mat-toolbar-single-row {
    height: 64px;
  }
  
  .accountButton {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
    font-size: x-large;
  
  }
  
  .sidenavBar {
    position: absolute;
    min-width: 300px;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
  }
  
  .sideNavList {
    width: 300px;
    height: 98.6%;
    background-color: #ffffff;
  }
  
  .sideNavListItems,
  .sideNavlistItemsColored {
    //border-top-right-radius: 100px;
    //border-bottom-right-radius: 100px;
    width: 300px;
    font-size: 15px;
    padding: 8px;
    background-color: #fdcfcf;
    color: #5f6368;
    align-items: baseline;
    text-align: left;
  }
  
  .sideNavlistItemsColored {
    background-color: #f6bb17 !important;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .sideNavListItems .mat-icon,
  .sideNavlistItemsColored .mat-icon {
    padding-left: 10px;
    padding-right: 30px;
  }
  